{#服务器表单宏#}
{#**kwargs 可变长参数，内容为一个key=value 字典#}
{% macro form_server_field(field) %}
    <div class="form-group ">
        {{ field.label }}
        {{ field(**kwargs) }}
        {% if field.errors %}
            {% for error in field.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{#提示消息宏#}
{% macro flash_tips() %}
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">
                        &times;
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}