<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="panel-body">
        <div class="panel-group" id="accordion" style="width: 100%;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        服务器列表
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#link1">Link1</a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="link1">
                    <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo.
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#link2">Link1</a>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="link2">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">link1-1</li>
                            <li class="list-group-item">link1-2</li>
                            <li class="list-group-item">link1-3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.sidebar-offcanvas-->
