{% extends 'common/base.html' %}<!--继承基础模板-->

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='content/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}<!--自定义模板区域-->

    <h3>文章发布</h3>
    <hr>
    <div class="row" style="margin-left: 0px;">
        <select id="dllPublish" class="selectpicker" multiple title="发布选项">
            <option>启用关键词库</option>
            <option>启用过滤词库</option>
            <option>启用分词功能</option>
            <option>是否发布顶级栏目</option>
        </select>
        <select id="dllArcNumber" class="selectpicker" title="栏目文章数量区间">
            <option>5~10</option>
            <option>10~50</option>
            <option>100~200</option>
            <option>200~500</option>
            <option>500~1000</option>
        </select>
        <select id="dllGenerator" class="selectpicker" multiple title="网站生成选项">
            <option>是否生成静态首页</option>
            <option>是否生成栏目页</option>
            <option>是否生成所有内容页</option>
            <option>是否生成本次发布的内容页</option>
        </select>
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                查看发布日志
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li style="cursor:pointer;"><a>查看当天日志</a></li>
                <li style="cursor:pointer;"><a>查看所有日志</a></li>
            </ul>
        </div>
        <button id="publish_all" class="btn btn-primary">轮巡发布</button>
    </div>

    <table class="table table-primary "
           style="margin-bottom: 0px; margin-top: 20px;border-bottom:1px solid #ddd">
        <thead>
        <tr>
            <th style="width:160px;">服务器名称</th>
            <th>目前进度</th>
            <th>错误提示</th>
            <th style="width:180px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>lym1</td>
            <td>testsomeone</td>
            <td>3306</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info ">查看日志</button>
                    <button type="button" class="btn btn-info">查看统计</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>lym1</td>
            <td><span class="text-success">正在生成首页静态文件....</span></td>
            <td><span class="text-danger">插入文章主表出错，数据已回滚...</span></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info ">查看日志</button>
                    <button type="button" class="btn btn-info">查看统计</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination pull-right" style="margin-top: 5px;">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static',filename='scripts/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
{% endblock %}